*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#body-claro{
    background-color: white;
}

#body-escuro{
    background-color: rgb(0, 0, 0);
}

header{
    text-align: center;           
}

header>img{
    width: 100%;
}

header>nav{
    margin-top: -4px;
    padding-top: 3px;    
    background-image: url(images/sep.jpg);
}

header>nav>a>img{    
    width: 5%;        
}

.visivel{
    display: block;
}

header>nav>ul{
    display: none;
    background-color: rgb(170, 148, 107);    
}

header>nav>ul>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;     
}

header>nav>ul>a>li{
    border-bottom: 1px solid black;
}

#slide>img{
    width: 100%;
}

#sep{
    margin-top: -4px;
    background-image: url(images/sep.jpg);
    background-size: cover;
    height: 25px;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.76); 
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.76);
}

#sep0{
    display: none;
    margin-top: -4px;
    background-image: url(images/sep.jpg);
    background-size: cover;
    height: 25px;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.76); 
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.76);
}

#p-a{
    margin-top: 20px;
}

#h2-claro{
    text-align: center;
    font-size: 25px;    
    margin: 0 2.5% 10px 2.5%;
    color: rgb(0, 0, 0);    
    border-bottom: 1px solid black;
}

#h2-escuro{
    text-align: center;
    font-size: 25px;    
    margin: 0 2.5% 10px 2.5%;
    color: rgb(255, 255, 255);    
    border-bottom: 1px solid rgb(255, 255, 255);
}

#p-claro{
    text-indent: 40px;
    font-size: 15px;
    text-align: justify;        
    margin: 0 5% 0 5%;
    color: rgb(0, 0, 0);        
}

#p-escuro{
    text-indent: 40px;
    font-size: 15px;
    text-align: justify;    
    margin: 0 5% 0 5%;
    color: rgb(255, 255, 255);        
}

#p-a>div{    
    background-color:  rgb(170, 111, 0);
    margin: 10px 10% 0 10%;    
    border-radius: 10px;
    text-align: center;
    padding: 5px 0 5px 0;
}

#a-claro{
    text-decoration: none;    
    color: black;        
}

#p-a>div>a:hover{
    text-decoration: underline;
}

#a-escuro{
    text-decoration: none;    
    color: rgb(255, 255, 255);        
}


#s-a{
    margin-top: 10px;
}

#album-claro{
    text-align: center;
    font-size: 20px;    
    padding: 6px 0 2px 0 ;
    background-image: url("images/sep2.jpg");
    background-size: cover;
    font-weight: 900;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

#album-escuro{
    text-align: center;
    font-size: 20px;    
    padding: 6px 0 2px 0 ;
    background-image: url("images/sep2.jpg");
    background-size: cover;
    font-weight: 900;
    -webkit-text-stroke-width: 0.5px;
    color: white;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

aside{    
    position: fixed;    
    text-align: center;
    top: 90%;    
    width: 40px;    
}

aside>img{
    float: left;
    margin-left: 5%;          
    width: 100%;    
}

#album{    
    margin-top: 5px;
    text-align: center;
}

.tamanho{
    width: 31.5%;
}

.grande{
    width: 95%;
}

.invisivel{
    display: none;
}

#footer-claro{
    color: white;
    background-color: black;
    text-align: center;    
    padding: 5px 0 5px 0;
}

#footer-escuro{
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: center;    
    padding: 5px 0 5px 0;
}

#t-a{
    text-align: center;
    background-image: url(images/background-hosp.jpg);    
    background-position: center;
    background-size: cover;
    padding-top: 10px;
}

#t-a>h2{
    background-color: rgba(255, 255, 255, 0.5);    
    font-size: 23px;
    color: black;
}

#t-a>section{
    display: inline-block;
    border: 1px solid black;
    width: 95%;
    padding: 10px 0 10px 0;
    border-radius: 20px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.25);
}

#t-a>section>h3{        
    background-color: black;
    color: white;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    font-size: 18px;
}

#t-a>section>a{
    text-decoration: none;
    background-color: rgb(255, 174, 0);
    padding: 0 10px 0 10px;    
    color: rgb(3, 66, 31);
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;    
}        

#t-a>section>div{
    margin: 15px 15px 0 15px;    
    text-align: left;      
}

@media screen and (min-width: 550px) and (max-width:650px){

    header>nav>a{
        display: none;
    }

    header>nav>ul{
        display: inline;
        background-color: transparent;                    
    }

    header>nav>ul>a{
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 20px;               
        width: 24%;        
    }

    header>nav>ul>a:hover{
        color: rgb(235, 186, 26);
    }

    header>nav>ul>a>li{       
        list-style: none;                        
    }
    #p-a>p{
        text-indent: 40px;
        font-size: 16.5px;
    }
    #s-a>h2{
        font-size: 25px;
    }

    body>header>img{
        width: 75%;
    }    
    
    aside>img{
        float: left;
        margin-left: 25%;          
        width: 100%;
    }
}

@media screen and (min-width: 651px) and (max-width:850px){
    header>nav>a{
        display: none;
    }

    header>nav>ul{
        display: inline;
        background-color: transparent;                    
    }

    header>nav>ul>a{
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 20px;              
        width: 24%;        
    }

    header>nav>ul>a:hover{
        color: rgb(235, 186, 26);
    }

    header>nav>ul>a>li{       
        list-style: none;           
        border: none;             
    }
    #p-a>p{
        text-indent: 40px;
        font-size: 18px;
    }

    #p-a>h2{
        font-size: 30px;
    }

    #s-a>h2{
        font-size: 25px;
    }    

    body>header>img{
        width: 75%;
    }
    aside>img{
        float: left;
        margin-left: 35%;          
        width: 100%;
    }
}

@media screen and (min-width: 851px) and (max-width:1050px){
    header>nav{
        background-image: none;
        width: 60%; 
        float: right;        
        margin-top: 2%;                   
    }
    
    header>nav>a{
        display: none;        
    }

    header>nav>ul{
        display: inline;
        background-color: transparent;         
        text-align: center;
    }

    .botoes-claro{
        color: black;
    }

    .botoes-escuro{
        color: white;
    }
    
    header>nav>ul>a{        
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 23px;                   
        width: 24%;        
    }

    header>nav>ul>a:hover{
        color: rgb(235, 186, 26);
    }

    header>nav>ul>a>li{       
        list-style: none;        
        border: none;                
    }
    #p-a>p{
        text-indent: 40px;
        font-size: 18px;
        margin-top: 20px;
    }

    #p-a>h2{
        font-size: 30px;
    }

    #s-a>h2{
        font-size: 25px;
    }    

    body>header{
        text-align: left;
    }

    body>header>img{
        width: 40%;
    }
    #sep0{
        display: block;
    }
    #slide{
        text-align: center;
        background-image: url(images/background2.jpg);
        background-position: cover;
    }
    #slide>img{
        width: 85%;
    }
    #p-a>div{
        margin: 20px 30% 20px 30%;
    }
    #s-a{
        margin: 0 10% 0 10%;
    }
    .tamanho{
        width: 32%;
    }
    
    .grande{
        width: 100%;
    }
    aside>img{
        float: left;
        margin-left: 35%;          
        width: 100%;
    }
}

@media screen and (min-width: 1051px) and (max-width:1366px){
    header>nav{
        background-image: none;
        width: 70%; 
        float: right;        
        margin-top: 1.85%;                   
    }
    
    header>nav>a{
        display: none;        
    }

    header>nav>ul{
        display: inline;
        background-color: transparent;         
        text-align: center;
    }

    .botoes-claro{
        color: black;
    }

    .botoes-escuro{
        color: white;
    }
    
    header>nav>ul>a{        
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 23px;                   
        width: 24%;        
    }

    header>nav>ul>a:hover{
        color: rgb(235, 186, 26);
    }

    header>nav>ul>a>li{       
        list-style: none;        
        border: none;                
    }
    #p-a>p{
        margin-top: 20px;
        text-indent: 40px;
        font-size: 20px;
    }

    #p-a{
        margin: 30px 10% 0 10%;
    }

    #p-a>h2{
        font-size: 30px;        
    }

    #p-a>div{
        margin: 20px 30% 20px 30%;
    }

    #s-a{
        margin: 0 15% 0 15%;
    }

    #s-a>h2{
        font-size: 25px;
    }    

    body>header{
        text-align: left;
    }

    body>header>img{
        width: 30%;
    }
    #sep0{
        display: block;
    }
    #slide{
        text-align: center;
        background-image: url(images/background2.jpg);
        background-position: cover;
    }
    #slide>img{
        width: 60%;
    }
    .tamanho{
        width: 32%;
    }
    
    .grande{
        width: 100%;
    }
    aside>img{
        float: left;
        margin-left: 35%;          
        width: 100%;
    }
}

@media screen and (min-width:1366px){
    header>nav{
        background-image: none;
        width: 70%; 
        float: right;        
        margin-top: 1.85%;                   
    }
    
    header>nav>a{
        display: none;        
    }

    header>nav>ul{
        display: inline;
        background-color: transparent;         
        text-align: center;
    }

    .botoes-claro{
        color: black;
    }

    .botoes-escuro{
        color: white;
    }
    
    header>nav>ul>a{        
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 23px;                 
        width: 24%;        
    }

    header>nav>ul>a:hover{
        color: rgb(235, 186, 26);
    }

    header>nav>ul>a>li{       
        list-style: none;        
        border: none;                
    }
    #p-a>p{
        margin-top: 20px;
        text-indent: 40px;
        font-size: 20px;
    }

    #p-a{
        margin: 30px 10% 0 10%;
    }

    #p-a>h2{
        font-size: 30px;        
    }

    #p-a>div{
        margin: 20px 30% 20px 30%;
    }

    #s-a{
        margin: 0 15% 0 15%;
    }

    #s-a>h2{
        font-size: 25px;
    }    

    body>header{
        text-align: left;
    }

    body>header>img{
        width: 30%;
    }
    #sep0{
        display: block;
    }
    #slide{
        text-align: center;
        background-image: url(images/background2.jpg);
        background-position: cover;
    }
    #slide>img{
        width: 60%;
    }
    .tamanho{
        width: 32%;
    }
    
    .grande{
        width: 100%;
    }
    aside>img{
        float: left;
        margin-left: 35%;          
        width: 100%;
    }
}